#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

button {
  padding: 5px 10px;
  border: 2px solid rgb(255, 140, 0);
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: inherit;
  cursor: pointer;
  transition: 0.4s;
}
button:hover {
  background-color: rgb(133, 133, 133);
}

ul {
  list-style: none;
  padding: 0;
}

h3 {
  margin: 10px 0;
  color: rgb(255, 140, 0);
}

:disabled {
  opacity: 0.7;
  pointer-events: none;
}
.container {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}
.form-search {
  display: flex;
  gap: 10px;
  width: 100%;
  min-width: 350px;
}

.input-search {
  flex-grow: 1;
  font-size: 1em;
}

.output,
.error-container {
  width: 100%;
  background-color: rgb(26, 26, 26);
  border: 2px solid rgb(194, 194, 194);
}
.output {
  padding: 10px 20px 25px;
  min-height: 300px;
}
.output-item {
  padding: 3px;
}

.error-container {
  align-self: center;
  padding: 20px;
}

.loader {
  margin: 20px 0 40px;
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
